
@{
    ViewBag.Title = "Pomoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ochrona danych osobowych</h2>
<br>
<p>
    Zgodnie z Ustawą o ochronie danych osobowych Dz.U. 1997 Nr 133 poz. 883 z dnia 29 sierpnia 1997 r. sklep KravMagaShop.PL<br> 
    zobowiązuje się do ochrony danych osobowych klientów. Dane klientów są zbierane i przetwarzane w celu dokonania umowy<br> 
    sprzedaży za pośrednictwem sklepu internetowego KravMagaShop.PL
    <br>
    Każda osoba korzystająca z usług sklepu zgadza się na przetwarzanie swoich danych osobowych w celach marketingowych,<br> 
    promocyjnych i ewidencyjnych. Klient ma prawo wglądu w swoje dane, poprawianie ich oraz ma prawo zażądać zaprzestania<br> 
    ich wykorzystywania w bazie KravMagaShop.PL
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>