
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Obsługa klienta - Kontakt z nami</h2>
<br>
<p></p>
<p>
    KravMagaShop.PL<br>
    ul. Marszałkowska 17 lok.11<br>
    01-909 Warszawa<br>
    E-mail: info@KravMagaShop.pl<br>
    Tel: +48 123 123 841, +48 123 123 950<br>
    UWAGA! W sklepie stacjonarnym obowiązują płatności wyłącznie gotówką. Nie ma możliwości płatności kartą.<br>
    Godziny otwarcia sklepu:<br>
    Poniedziałek - Piątek 8.00 - 16.00<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</p>