
@{
    ViewBag.Title = "Onas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Onas</h2>
<br>
<p>
    Sklep Krav Maga Shop powstał w lipcu 1999 roku. Nasze początki sięgają wczesnego okresu rozwoju Krav Maga, MMA, BJJ<br>
    i Submission Fighting w Polsce. W momencie powstania byliśmy drugim tego typu sklepem w naszym kraju. Zaczynaliśmy<br>
    od wąskiego asortymentu produktów by obecnie dojść do pozycji sklepu nr 1 w Polsce i prawdopodobnie największego sklepu<br>
    Krav Maga w Europie Środkowo-Wschodniej.<br>
</p>
<br>
<h3> BOGATY ASORTYMENT</h3>
<p>
    Dzięki wysokiej pozycji jaką wypracowaliśmy sobie przez lata działalności możemy zaoferować Naszym klientom bogaty<br>
    asortyment w połączeniu z bardzo dobrymi warunkami pod kątem ceny i czasu realizacji zamówienia (wszystkie produkty<br>
    jakie sprzedajemy mamy w danym momencie na stanie). Naszą ofertę staramy się uaktualniać i poszerzać tak aby każdy<br>
    znalazł coś dla siebie.<br>
</p>
<br>
<h3> OBSŁUGA KLIENTA</h3>
<p>
    W działalności Naszej firmy na pierwszym miejscu stawiamy Klienta i duży nacisk kładziemy na jakość obsługi. Z przyjemnością<br>
    odpowiadamy na wszystkie pytania i zapewniamy pełne wsparcie pomagając Klientom dobrać odpowiednie do ich oczekiwań produkty<br>
    i rozmiary.<br>
</p>
<br>
<h3>WYŁĄCZNIE ORYGINALNE PRODUKTY</h3>
<p>
    Sprowadzamy produkty tylko od producentów lub od ich autoryzowanych przedstawicieli. Dzięki temu dajemy 100% pisemną<br>
    gwarancję, że wszystkie produkty w sklepie MMANIAK.PL są oryginalne.<br>
</p>
<p>Zapraszamy do zakupów Ekipa Krav Maga Shop</p>
<br>
<br>
<br>
<br>