
@{
    ViewBag.Title = "Regulamin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Regulamin</h2>
<br>
<p>
    Niniejszy regulamin określa zasady dokonywania zakupów w sklepie internetowym prowadzonym przez Sprzedającego pod adresem<br>
    www.KravMagaShop.pl.<br>
    Sprzedającym jest spółka<br>
    Ala S.C. z siedzibą w Warszawie przy ul. Marszałkowska 17 lok. 11, zarejestrowaną pod numerem NIP: 1111234567, Regon:<br>
    141302631<br>
    zwaną także zamiennie "Usługodawcą".<br>
    Kontakt z Usługodawcą można uzyskać:<br>
    pod numerami telefonów: 432 123 123, 123 456 678 oraz korzystając z adresu poczty elektronicznej: sklep@KravMagaShop.pl.<br>
</p>
<br>
<p></p>
<p align="center">§ 1 Definicje</p>
<p></p>
<br>
<p>
    1. Regulamin - niniejszy regulamin. W zakresie usług świadczonych drogą elektroniczną Regulamin jest regulaminem, o którym mowa<br>
    w art. 8 ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz.U. z 2002 r. Nr 144, poz. 1204 ze zm.)<br>
    <br>
    2. Klient (Kupujący) - osoba fizyczna, która ukończyła co najmniej 13. rok życia, przy czym w przypadku nieukończenia przez tę osobę<br>
    18. roku życia, wymagana jest zgoda jej przedstawiciela ustawowego, a także osoba prawna oraz jednostka organizacyjna niebędąca<br>
    osobą prawną, której przepisy szczególne przyznają zdolność prawną, a która dokonuje lub zamierza dokonać Zamówienia lub<br>
    korzysta z innych usług Sklepu internetowego ( w tym również konsument).<br>
    <br>
    3. Przedmiot transakcji - Towary wymienione i opisane na stronie internetowej Sklepu Internetowego. Sprzedający dokłada wszelkich<br>
    starań, aby prezentowana na stronach oferta, była aktualna. Gdyby jednak niektóre z Zamówionych Towarów były niedostępne,<br>
    Sprzedający zobowiązuje się do niezwłocznego poinformowania Kupującego o zaistniałej sytuacji telefonicznie lub drogą mailową.<br>
    <br>
    4. Towar - rzecz ruchoma, której dotyczy Umowa Sprzedaży.<br>
    <br>
    5. Usługa dodatkowa - usługa świadczona przez Usługodawcę na rzecz Klienta poza Sklepem Internetowym w związku z charakterem<br>
    sprzedawanych produktów.<br>
    <br>
    6. Produkt - Towary i Usługi dodatkowe prezentowane w Sklepie Internetowym.<br>
    <br>
    7. Umowa Sprzedaży - umowa sprzedaży Produktów w rozumieniu ustawy Kodeks Cywilny, zawierana pomiędzy Usługodawcą a Klientem,<br>
    z wykorzystaniem środków porozumiewania się na odległość ( w tym drogą telefoniczną).<br>
    <br>
    8. Sklep Internetowy - serwis internetowy dostępny pod adresem www.KravMagaShop.pl, za pośrednictwem którego Klient może kupić Produkt.<br>
    <br>
    9. Strona - Usługodawca i Klient.<br>
    <br>
    10. Strona Sklepu - każda strona bądź podstrona www znajdująca się pod adresem www.KravMagaShop.pl.<br>
    <br>
    11. Zamówienie - oświadczenie woli Klienta określające jednoznacznie rodzaj i ilość Produktów, zmierzające bezpośrednio do zawarcia <br>
    Umowy Sprzedaży na odległość za pośrednictwem Sklepu Internetowego.
</p>