
@{
    ViewBag.Title = "Opinie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>REKLAMACJE - ZASADY</h2>
<br>
<p>
    1. Miejscem zgłaszania (przesyłania) reklamacji jest miejsce prowadzenia działalności:<br>
    KravMagaShop.PL  ul. Marszałkowska 17 lok.11, 01-909 Warszawa<br>
    <br>
    2. Podstawą przyjęcia reklamacji jest dowód zakupu towaru (paragon, faktura VAT, inne).<br>
    <br>
    3. Reklamacji nie podlegają przypadkowe lub celowe uszkodzenia towaru (rozdarcia, przecięcia itp.) <br>
    spowodowane niedbałym bądź niewłaściwym użytkowaniem, niezależne od producenta czy sprzedawcy towaru.<br>
    <br>
    4. Każdy reklamowany towar powinien posiadać dołączoną kopię dowodu zakupu.  Do reklamowanego towaru należy <br>
    załączyć następujące informacje: imię, nazwisko klienta/ nazwę firmy, adres, numer zamówienia, dane kontaktowe <br>
    oraz przyczynę reklamacji i informację w jakich okolicznościach wada powstała.<br>
    <br>
    5. Reklamowany towar powinien być czysty i higienicznie zabezpieczony.<br>
    <br>
    6. W przypadku uzasadnionej reklamacji koszty przesyłki związane z reklamacją pokrywa KravMagaShop.PL<br>
    <br>
    7. W przypadku odrzucenia reklamacji koszty przesyłki związane z reklamacją pokrywa klient.<br>
    <br>
    8. Termin rozpatrzenia reklamacji to 14 dni od daty otrzymania przesyłki, o jej wyniku klient zostanie poinformowany <br>
    telefonicznie, mailowo lub listownie. W uzasadnionych wypadkach (wysłanie uszkodzonego towaru za granicę) termin może <br>
    ulec wydłużeniu do 21 dni.<br>
    <br>
    9. Jako moment rozpatrzenia reklamacji jest uznany dzień w którym sprzedający powiadomił kupującego (telefonicznie, <br>
    mailowo, osobiście) o jej wyniku.
</p>

